<html>
  <h1>Welcome to POMS Week 6</h1> 
  <header>
    <link rel="stylesheet" href ="styles.css">
   

    <a type="button" class = "btn btn-primary btn-lg" href="/listparcels">List all Parcels</a>
    <a href="/newparcels">Add new parcel</a>
    <a href="/deleteparcels">Delete the parcels</a>
    <a href="/updateparcels">Update the parcels</a>
    <a href="/Senderfiltrate">Filtrate sender</a>
    <a href="/Weightfiltrate">Filtrate Weight</a>
  </header>
  <body>
    <img src="/assets/please.jpeg"
    width = 500px>
  </body>
</html>
