<html>
    <body>
        <link rel="stylesheet" href ="styles.css">
        <form method="post" action="updatedparcels">
            ID<input type="text" name="id"/>
           Sender<input type="text" name="sender" />
           Address<input type="text" name="address" />
           Weight<input type="number" name="weight" />
           IsFragile<input type="checkbox" name="fragile" />
           height<input type="number" name="height"/>
    
          <button submit>Submit</button>
        </form>
      </body>
</html>

